.saml-login { margin:1em auto 0; font-size:16px; font-weight:bold; text-align:center; }
.saml-login a, .saml-login a:hover {
  display:inline-block; padding:0.4em 1em; max-width:800px; text-align:center;
  color:#fff; background-color:#999; text-decoration:none !important; text-shadow:1px 1px 1px #666;
  -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
}
.saml-login a:hover { background-color:#087021; }
.saml-login a:active { position:relative; top:1px; }
#login-form table { margin-top:2em; }
#saml-login-text{ text-align:center; }
