<% if Redmine::OmniAuthCAS.enabled? && Redmine::OmniAuthCAS.cas_server.present? %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "login", :plugin => "redmine_omniauth_cas" %>
<% end %>

<div id="cas-login">
  <%
    @back_url = back_url
    #unescapes back_url on-the-fly because it might be double-escaped in some environments
    #(it happens for me at work with 2 reverse-proxies in front of the app...)
    @back_url = CGI.unescape(@back_url) if @back_url && @back_url.match(/^https?%3A/)
  %>
  <%= link_to label_for_cas_login, :controller => "account", :action => "login_with_cas_redirect", :provider => "cas", :origin => @back_url %>
</div>

<% end %>
