<% if Redmine::OmniAuthCAS.cas_server.present? %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "login", :plugin => "redmine_omniauth_cas" %>
<% end %>

<div id="cas-login">
  <%= link_to label_for_cas_login, :controller => "account", :action => "login_with_cas_redirect", :provider => "cas" %>
</div>

<% end %>
